<div class="contents">
    <div *ngIf="isUserAdmin" class="add-btn-container">
        <span (click)="ShowAddVideoModal()" class="add-btn">Add Video</span>
    </div>
    <ng-container *ngIf="videos">
        <div *ngIf="(videos.length > 0)" class="grid-container">
            <ng-container *ngFor="let video of videos" >
            
                <div class="grid-item" [ngClass]="{'featured-item' : video.featured}">
                    <img *ngIf="video.image" class="grid-item-background-image" src="{{video.image}}">
                    <img *ngIf="!video.image" class="grid-item-background-image" src="//:0">
                    <div class="item-info-container">
                        <span *ngIf="video.featured" class="featured-tag">Featured Video</span>
                        <span class="info-title info-title-video" [ngClass]="{'info-title-video-non-featured' : !video.featured}">{{video.title}}</span>
                        <span class="info-date info-date-video ">{{video.date}}</span>
                        <div class="watch-now-btn-container">
                            <span (click)="ShowWatchVideoModal(video)" class="watch-now-btn">Watch Now</span>
                        </div>
                    </div>
                    <div *ngIf="isUserAdmin" class="edit-del-btn-container">
                        <span (click)="ShowEditVideoModal(video)" class="edit-del-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span (click)="DeleteVideo(video)" class="edit-del-btn"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                </div>
            </ng-container>
            <div style="clear:both;"></div>
        </div>
        <div *ngIf="!(videos.length > 0)" class="no-items-to-display">
            No Items to display.
        </div>
    </ng-container>
</div>

<div *ngIf="showWatchVideoModal" class="watch-video-modal-container">
    <div class="video-container">
        <div class="modal-close" (click)="showWatchVideoModal=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ng-container *ngIf="safeUrl">
            <iframe id="videoIframe" height="100%" width="100%" [src]="safeUrl" frameborder="0" ></iframe>
        </ng-container>
    </div>
</div>

<div *ngIf="showAddVideoModal" class="modal-container">
    <div class="pp-modal">
        <h1 class='modal-title'>Add Video</h1>
        <div class="modal-close" (click)="showAddVideoModal=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div>
            <form #f="ngForm" (ngSubmit)="AddNewVideo(f)">
                <table>
                    <tr><td><label for="title">Title</label></td></tr>
                    <tr><td><input type="text" name="title" ngModel></td></tr>

                    <tr><td><label for="videoUrl">Video URL</label></td></tr>
                    <tr><td><input type="text" name="videoUrl" ngModel></td></tr>

                    <tr><td><label for="date">Date</label></td></tr>
                    <tr><td><input type="text" name="date" ngModel></td></tr>

                    <tr><td><label for="featured">Featured?</label></td></tr>
                    <tr>
                        <td>
                            <input type="radio" name="featured" [value]="true" [ngModel]="true"> Yes
                            <input type="radio" name="featured" [value]="false" [ngModel]="true"> No
                        </td>
                    </tr>

                </table>

                <label>Image</label>
                <div class="form-dynamic-contents-container"></div>
                <img id="add-form-image-preview" src="//:0" style="display:block; width:100px; height: 100px; object-fit: cover;" />
                <input id="add-form-image-input" style="margin-bottom:3px; margin-top:5px; width:100%;" type="file" accept="image/*">

                <div  *ngIf="showLoading" class="loadingContainer">
                    <div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span>Saving data, please wait...</span>
                    </div>
                </div>
                <div *ngIf="showSuccess" class="successContainer">
                    <div class="success">
                        <span>{{successMessage}}</span>
                    </div>
                </div>
                <div *ngIf="showError" class="errorsContainer">
                    <div *ngIf="!IsString(errorMessage)" class="error">
                        <div *ngFor="let err of errorMessage">{{err.msg}}</div>
                    </div>
                    <div *ngIf="IsString(errorMessage)" class="error">
                        <div>{{errorMessage}}</div>
                    </div>
                </div>

                <div class="submit-btn-container">
                    <input class="submit-btn" type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>



<div *ngIf="showEditVideoModal" class="modal-container">
    <div class="pp-modal">
        <h1 class='modal-title'>Edit Video</h1>
        <div class="modal-close" (click)="showEditVideoModal=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div>
            <form #f="ngForm" (ngSubmit)="EditVideo(f)">
                <table>
                    <tr><td><label for="title">Title</label></td></tr>
                    <tr><td><input type="text" name="title" [ngModel]="videoToUpdateOrDelete.title"></td></tr>

                    <tr><td><label for="videoUrl">Video URL</label></td></tr>
                    <tr><td><input type="text" name="videoUrl" [ngModel]="videoToUpdateOrDelete.videoUrl"></td></tr>

                    <tr><td><label for="date">Date</label></td></tr>
                    <tr><td><input type="text" name="date" [ngModel]="videoToUpdateOrDelete.date"></td></tr>

                    <tr><td><label for="featured">Featured?</label></td></tr>
                    <tr>
                        <td>
                            <input type="radio" name="featured" [value]="true" [ngModel]=videoToUpdateOrDelete.featured> Yes
                            <input type="radio" name="featured" [value]="false" [ngModel]="videoToUpdateOrDelete.featured"> No
                        </td>
                    </tr>

                </table>

                <label>Image</label>
                <div class="form-dynamic-contents-container"></div>

                <img id="edit-form-image-preview" *ngIf="videoToUpdateOrDelete.image" src="{{videoToUpdateOrDelete.image}}"/>
                <img id="edit-form-image-preview" *ngIf="!(videoToUpdateOrDelete.image)" src="//:0" style="display:block; width:100px; height: 100px; object-fit: cover;" />
                <input id="edit-form-image-input" style="margin-bottom:3px; margin-top:5px; width:100%;" type="file" accept="image/*">

                <div  *ngIf="showLoading" class="loadingContainer">
                    <div class="loading">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span>Saving data, please wait...</span>
                    </div>
                </div>
                <div *ngIf="showSuccess" class="successContainer">
                    <div class="success">
                        <span>{{successMessage}}</span>
                    </div>
                </div>
                <div *ngIf="showError" class="errorsContainer">
                    <div *ngIf="!IsString(errorMessage)" class="error">
                        <div *ngFor="let err of errorMessage">{{err.msg}}</div>
                    </div>
                    <div *ngIf="IsString(errorMessage)" class="error">
                        <div>{{errorMessage}}</div>
                    </div>
                </div>

                <div class="submit-btn-container">
                    <input class="submit-btn" type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>
