<h1>LIST OF SAINTS:</h1>
<div class="select-topic-container">
    <select id="saints-select" (change)="UpdateSelect()" required>
        <option value="" disabled selected hidden>Select a topic...</option>
        <option value="0">FILIPINO SAINTS</option>
        <option value="1">LIST OF ANGELS-SAINTS</option>
        <option value="2">LIST OF APOSTLES</option>
        <option value="3">LIST OF SAINTS - DOCTORS OF THE CHURCH</option>
        <option value="4">LIST OF POPE SAINTS</option>
        <option value="5">MARTYRS</option>
        <option value="6">FOUNDERS OF RELIGIOUS ORDERS/CONGREGATIONS</option>
        <option value="7">PASTORS</option>
        <option value="8">OTHER HOLY MEN AND WOMEN</option>
    </select>
</div>

<div *ngIf="selectElementVal === '0'">
    <h2>Saint Lorenzo Ruiz</h2>
    <p>
      was born around the year 1600 in Binondo, Manila in the Philippines. <br>
      He was the son of a Chinese father and a Filipino mother. <br>
      Both were Christians and took care to raise Lorenzo as a Catholic. <br>
      He served happily in his parish church as an altar boy and calligrapher.<br>
    </p>
    
    <p>As a young man, Lorenzo joined the Dominican Confraternity of the Most Holy Rosary.</p>
    
    <p>
      Later, he married a woman named Rosario. <br>
      The happy couple had three children,<br> 
      two sons and one daughter.<br>
      By all accounts, the family was ordinary and happy.<br>
    </p>
    
    <p>
        In 1636, Lorenzo was accused of murder. <br>
        Allegedly he killed a Spaniard. <br>
        However, to protect his safety at the time,<br> 
        he fled home and found refuge on board a ship with three Dominican priests and a leper. <br>
        There are no details of this alleged crime other than a journal entry by two Dominican priests, <br>
        that he joined their group to escape possible arrest.<br>
        The ship departed the Philippines on June 10, 1636, bound for Okinawa.<br>
    </p>
    
    <p>
        A shock awaited the holy passengers when they arrived in Japan. <br>
        At the time of their arrival, the rulers of Japan, <br>
        the Tokugawa Shogunate, were persecuting Christians. <br>
        Prior to this persecution, <br>
        the Christian population of Japan was thought to number 50,000 souls.<br>
    </p>
    
    <p>
        Now Lorenzo was arrested by Japanese officials <br>
        for the crime of being a Christian <br>
        and ordered to recant his faith.<br>
        When he refused he was imprisoned for two years.<br>
        On September 27, 1637, Lorenzo and his companions <br>
        were taken to Nagasaki to be tortured and killed <br>
        if they would not recant their faith. <br>
        Lorenzo and his companions were tortured by water, <br>
        which was forced into their mouths and down their throats <br>
        and out their noses and ears. <br>
        Despite the painful torture, the men refused to do so.<br>
    </p>
    
    <p>
        Following this, Lorenzo was hanged upside down, <br>
        with a rope around his ankles.<br>
         This method of torture was known as tsurushi, or "gallows and pit." <br>
         The torture forces a person to be hanged upside down <br>
         with a gash cut in their forehead to prevent too much blood <br>
         from gathering in the head. <br>
         The gash also causes the victim to bleed to death <br>
         over an extended period of time.<br>
    </p>
    
    <p>
        Those who have survived the torture have said it is unbearable. <br>
        One hand is left free so the victim can offer an agreed symbol <br>
        that will represent their desire to recant their faith. <br>
        Those few who recant are spared and allowed to live. <br>
        But few people ever recanted, choosing instead to die for their faith.<br>
    </p>
    
    <p>
        Lorenzo refused to recant. <br>
        According to the record of his death, <br>
        his last words were, "I am a Catholic and wholeheartedly do accept death for God. <br>
        Had I a thousand lives, all these to Him I shall offer. <br>
        Do with me as you please."<br>
    </p>
    
    <p>
        His traveling companions were all killed, <br>
        steadfast until the end. <br>
        Lorenzo was beatified by Pope John Paul II on February 18, 1981. <br>
        The beatification ceremony was held in the Philippines <br>
        making it the first beatification ceremony ever held outside the Vatican.<br>
    </p>
    
    <p>
        A miracle attributed to his intercession occurred in 1983.<br>
         A two-year-old girl, Alegria Policarpio, <br>
         suffering from hydrocephaly, <br>
         a condition she had since birth, <br>
         was miraculously cured.<br>
         His canonization took place at the Vatican on October 18, 1987.<br>
         Saint Lorenzo Ruiz is the patron saint of Filipino youth, <br>
         the Philippines, people working overseas, and altar servers.  <br><br>
         (From: Catholic.org)<br>
    </p>
    
    <p>His feast day is September 28.</p>
    
    <br>
    
    <h2>Saint Pedro Calungsod</h2>
    
    <p>
        is a Filipino Roman Catholic martyr who was killed <br>
        while doing missionary work in Guam in 1672. <br>
        He was beatified on March 5, 2000, by Pope John Paul II.<br>
         As a skilled sacristan and teacher of cathecism, <br>
         he was a companion of Blessed Diego Luis de San Vitores to the Marianas Islands.<br> 
         Through their efforts, many receive the sacraments especially that of baptism. <br>
         A plot to kill Pedro and San Vitores started when a certain Choco, <br>
         a Chinese who gained influence over the Macanas of Marianas Island, <br>
         circulated false accusations that the missionaries <br>
         were spreading poison through the ritual of the pouring of water <br>
         (i.e. baptism), and through the ritual of Catholic Masses. <br><br>
         
         Calungsod and Diego San Vitores were both murdered <br>
         after baptizing an infant and mother who converted to the Roman Catholic faith. <br><br>
         
         (From: Catholic.org)
    </p>
</div>

<br>


<div *ngIf="selectElementVal === '1'">
    <h2>LIST OF ANGELS-SAINTS:</h2>

    <p>
        St. Raphael<br>
        St. Gabriel<br>
        St. Michael<br>
        Guardian Angels<br>
    </p>
</div>

<div *ngIf="selectElementVal === '2'">
    <h2>LIST OF APOSTLES:</h2>

    <p>
    St. Peter (born Simon)<br>
    St. Andrew, brother of Peter<br>
    St. James<br>
    St. John <br>
    St. Philip<br>
    St. Bartholomew<br>
    St. Thomas<br>
    St. Matthew<br>
    St. James, son of Alphaeus<br>
    St. Jude Thaddeus<br>
    St. Simon the Zealot<br> 
    St. Matthias <br>
    St. Paul the Apostle to the Gentiles<br>
    </p>
</div>

<div *ngIf="selectElementVal === '3'">
    <h2>LIST OF SAINTS - DOCTORS OF THE CHURCH:</h2>

    <p>
            St. Peter Damian, Bishop and Doctor<br>
            St. Cyril of Jerusalem, Bishop and Doctor<br>
            St. Isidore, Bishop and Doctor<br>
            St. Anselm, Bishop and Doctor<br>
            St. Catherine of Siena, Virgin and Doctor<br>
            St. Athanasius, Bishop and Doctor<br>
            St. Ephrem, Deacon and Doctor<br>
            St. Anthony of Padua, Priest and Doctor<br>
            St. Cyril of Alexandria, Bishop and Doctor<br>
            St. Bonaventure, Bishop and Doctor<br>
            St. Lawrence of Brindisi, Priest and Doctor<br>
            St. Peter Chrysologus, Bishop and Doctor<br>
            St. Alphonsus Liguori, Bishop and Doctor<br>
            St. Bernard, Abbot and Doctor<br>
            St. Augustine, Bishop and Doctor<br>
            St. John Chrysostom, Bishop and Doctor<br>
            St. Jerome, Priest and Doctor<br>
            St. John Damascene, Priest and Doctor<br>
            St. Albert the Great, Bishop and Doctor<br>
            St. Ambrose, Bishop and Doctor<br>
            St. John of the Cross, Priest and Doctor<br>
            St. Peter Canisius, Priest and Doctor<br>
    </p>
</div>

<div *ngIf="selectElementVal === '4'">
    <h2>LIST OF POPE SAINTS:</h2>

    <p>
            St. Fabian, Pope and Martry<br>
            St. Sixtus II, Pope and Martyr<br>
            St. Martin I, Pope and Martyr<br>
            St. Pius V, Pope<br>
            St. Pontian, Pope and Martyr<br>
            St. Gregory the Great, Pope and Doctor<br>
            St. Callistus I, Pope and Martyr<br>
            St. Leo the Great, Pope and Doctor<br>
            St. Clement I, Pope and Martyr<br>
            St. John I, Pope and Martyr<br>
            St. Damasus I, Pope<br>
            St. Cornelius, Pope and Martyr   <br>     
    </p>
</div>


<div *ngIf="selectElementVal === '5'">
    <h2>MARTYRS:</h2>

    <p>
            St. Agnes, Virgin and Martyr<br>
            St. Angela Merici, Virgin<br>
            St. Agatha, Virgin and Martyr<br>
            St. Scholastica, Virgin<br>
            St. Paul Miki and Companion Martyrs<br>
            St. Blasé, Bishop and Martyr<br>
            St. Polycarp, Bishop and Martyr<br>
            St. Perpetua and Felicity, Martyrs<br>
            St. Stansilaus, Bishop and Martyr<br>
            St. Stephen, The First Martyr<br>
            St. Thomas Becket, Bishop and Martyr<br>
            St. Lucy, Virgin and Martyr<br>
            St. Josaphat, Bishop and Martyr<br>
            St. George, Martyr<br>
            St. Fidelis of Sigmaringen, Priest and Martyr<br>
            St. Peter Chanel, Priest and Martyr<br>
            Sts. Nereus and Achilleus, Martyrs<br>
            St. Pancras, Martyr<br>
            St. Justin, Martyr<br>
            St. Marcellinus and Peter, Martyrs<br>
            St. Charles Lwanga and companions, Martyrs<br>
            St. Boniface, Bishop and Martyr<br>
            St. John Fisher, Bishop and Martyr<br>
            St. Thomas More, Martyr<br>
            St. Ireneaus, Bishop and Martyr<br>
            St. Maria Goretti, Virgin and Martyr<br>
            St. Lawrence, Deacon and Martyr<br>
            St. Hyppolytus, Priest and Martyr<br>
            St. Clare, Virgin<br>
            St. Cecilia, Virgin and Martyr<br>
            St. Ignatius of Antioch, Bishop and Martyr<br>
            St. Januarius, Bishop and Martyr<br>
    </p>
</div>

<div *ngIf="selectElementVal === '6'">
    <h2>FOUNDERS OF RELIGIOUS ORDERS/CONGREGATIONS</h2>

    <p>
            St. John Bosco, Society of Don Bosco (SDB)<br>
            St. Jerome Emiliani, Somascans<br>
            Seven Founders of the Order of Servites, Servites (OSM)<br>
            St. John Baptist de la Salle, Priest<br>
            St. Benedict, Abbot<br>
            St. Vincent de Paul, Priest<br>
            St. Francis of Assisi<br>
            St. Ignatius of Loyola, Priest<br>
            St. John Vianney, Priest<br>
            St. Dominic De Guzman<br>
            St. Teresa of Avila, Virgin and Doctor<br>
            St. Francis de Sales, Bishop and Doctor<br>
            
    </p>
</div>

<div *ngIf="selectElementVal === '7'">
    <h2>PASTORS:</h2>

    <p>
            St. Basil the Great<br>
            St. Raymond of Penyafort, Priest<br>
            St. Amsgar, Bishop<br>
            St. Patrick, Bishop<br>
            St. Turibius de Mongrovejo, Bishop<br>
            St. Vincent Ferrer, Priest<br>
            St. Bernardine of Siena, Priest<br>
            St. Philip Neri, Priest<br>
            St. Augustine of Canterbury, Bishop<br>
            St. Norbert, Bishop<br>
            St. Paulinus of Nola, Bishop<br>
            St. Anthony Zaccaria, Priest<br>
            St. Camillus de Lellis, Priest<br>
            St. Stephen of Hungary<br>
            St. John Eudes, Priest<br>
            St. Bruno, Priest<br>
            St. Luke the Evangelist<br>
            St. Paul of the Cross, Priest<br>
            St. John of Capistrano, Priest<br>
            St. Anthony Claret, Bishop<br>
            St. Charles Borromeo, Bishop<br>
            St. Martin of Tours, Bishop<br>
            St. Francis Xavier<br>
            St. Nicholas, Bishop<br>
            St. John of Kanty, Priest<br>        
    </p>
</div>

<div *ngIf="selectElementVal === '8'">
    <h2>OTHER HOLY MEN AND WOMEN</h2>

    <p>
            St. Anthony the Abbot<br>
            St. Jane Frances de Chantal, Religious<br>
            St. Martin de Porres, Religious<br>
            St. Theresa of the Child Jesus, Virgin<br>
            St. Gertrude, Virgin<br>
            St. Elizabeth of Hungary, Religious<br>
            St. Columban, Abbot<br>
            St. Rose of Lima, Virgin<br>
            St. Bridget, Religious<br>
            St. Elizabeth of Portugal<br>
            St. Romuald, Abbot <br>
            St. Aloysius Gonzaga, Religious<br>
            St. Francis of Paola, Hermit<br>
            St. Cyril, Monk<br>
            St. John of God, Religious<br>
            St. Frances of Rome, Religious<br>
            St. Mary Magdalene<br>
            Sts. Joachim and Ann, Parents of Mary<br>
            St. Martha<br>
            St. Clare, Virgin<br>
            St. John the Baptist<br>
    </p>
</div>
