page-donation-drive-list,
page-donation-drive-detail,
page-donation-drive { 
    ion-content { 
        background-position: center;
        background-size: cover;
    }

    ion-content::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .4; 
    }

    ion-card.header {
        width: 100%;
        margin-top: 130px;
        padding: 5px;
        border-radius: 0px;
        overflow: hidden;
    }

    ion-card.header {
        h1 {
            margin-top: 10px;
            text-transform: uppercase;
            color: rgb(164, 14, 0);
            font-weight: bold;
            font-size: 20px;
        }
        
        p {
            font-size: 15px;
            font-weight: 400;
            color: black;
        }
    }

    ion-card.search  {
        background-color: rgba(238, 238, 238, 0.92);
        border-radius: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        overflow: hidden;
    }

    ion-card.search  {
        img {
            height: auto;
            max-width: 120px;
            display: inline-block;
        }

        .search-label {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            padding: 10px;
            color: #a40e00;
            text-align: center;
        }

        .search-input-container {
            background-color: rgb(164, 14, 0);
            padding: 5px 7px;
        }

        .search-input-contents {
            height: 30px;
            width: calc(100% - 50px);
            display: inline-block;
        }

        .search-input-container input {
            font-size: 20px;
            height: 100%;
            float: left;
            width: 100%;
            margin-top: 2px;
        }

        .search-input-container input::placeholder,
        .search-input-container input:focus,
        .search-input-container input {
            background-color: white;
            border: none;
            outline: none;
        }
        
        .search-input-container .search-btn-container {
            color: white;
            width: 50px;
            float: right;
            cursor: pointer;
        }
        
        .search-input-container span {
            font-size: 25px;
        }
    }

    .wrapper {
        width: 95%;
        margin: 0 auto;
        padding-top: 5px;
    }

    .video {
        height: 250px;
        width: 100%;
    }

    .grid-links-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 5px;
        padding: 0px;
        text-align: center;
    }
    
    .grid-links {
        width: 50%;
        float: left;
        position: relative;
        cursor: pointer;
    }
    
    .grid-links .title-container  {
        height: 60px;
        width: 100%;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 600;
    }

    .sr-card-info-container .read-more-btn {
        color: #a40e00;
        font-size: 15px;
        cursor: pointer;
    }
    
    .search-results-card {
        width: 100%;
        max-width: 500px;
        background-color: white;
        padding: 5px;
        display: table;
    }
    
    .search-results-card .sr-card-image-container{
        width: 130px;
        height: 130px;
        display: table-cell;
        vertical-align: middle;
    }
    
    .search-results-card .sr-card-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .search-results-card .sr-card-info-container {
        width: calc(100% - 130px);
         display: table-cell;
        color: black;
        padding-left: 20px;
        line-height: 20px;
    }
    
    .search-results-card .sr-card-info-container span.sr-card-info-title{
        font-size: 15px;
        text-transform: uppercase;
    }
    
    .search-results-card .sr-card-info-container span.sr-card-info-val{
        display: block;
        font-size: 15px;
        font-weight: 400;
        overflow-y: hidden;
        height: 65px;
    }
    
    .search-results-card .sr-card-info-container a {
        text-decoration: underline;
    }

    .search-results-card .sr-card-info-container strong{
        font-weight: 600; 
    }

    .search-results-container {
        padding: 20px;
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        max-width: 1400px;
        display: inline-block;
    }
    
    .search-results-header {
        color: white;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    .search-results {
        color: white;
        font-size: 22px;
        text-align: left;
        font-weight: 600;
        list-style: none;
        padding: 0;
    }
    
    .search-results li {
        margin-top: 15px;
    }
    
    .search-results-loading-spinner {
        color: white;
        font-size: 22px;
    }
    
    .search-results-loading-spinner i{
        font-size: 20px;
    }

    .add-edit-del-btn-container {
        width: 100%;
        max-width: 500px;
        font-size: 13px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .add-edit-del-btn-container .addBtn{
        background-color: #a40e00;
        color: white;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        margin: 5px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 20px;
    }
    
    .edit-modal-container,
    .add-modal-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.73);
        padding: 10px;
        overflow-y: scroll;
    }
    
    .edit-modal,
    .add-modal {
        height: auto;
        width: 100%;
        max-width: 600px;
        background-color: white;
        margin: 0 auto;
        padding: 15px;
        position: relative;
    }
    
    .edit-modal table,
    .add-modal table {
        width: 100%;
    }
    
    .add-modal table select,
    .edit-modal table select {
        height: 36px;
        font-size: 18px;
        width: 100%;
    }

    .edit-modal table input,
    .add-modal table input{
        width: 100%;
        font-size: 20px;
    }
    
    .edit-modal table textarea,
    .add-modal table textarea{
        box-sizing: border-box;
        width: 100%;
    }  
      
    .edit-modal-container .modal-title,
    .add-modal-container .modal-title{
        text-transform: capitalize;
        text-transform: uppercase;
        color: rgb(164, 14, 0);
        margin-bottom: 10px;
    }
    
    .modal-close {
        display: inline-block;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.4);
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer;
    }
    
    .submit-btn-container {
        margin-top: 10px;
    }
    
    .errorsContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    
    .successContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    
    .loadingContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    
    .loadingContainer i {
        font-size: 25px;
    }
    
    .details-wrapper {
        padding: 15px;
        // margin-top: 50px;
    }
    
    .top-details {
        text-align: left;
    }
    
    .top-details .left {
        width: 30%;
        float: left;
        padding-top: 15px;
    }
    
    .top-details .left img{
        width: 100%;
        height: 100%;
        object-fit: auto;
    }
    
    .top-details .right {
        width: 70%;
        float: left;
        color: white;
        padding: 15px;
    }
    
    .details-info {
        display: block;
        font-size: 15px;
    }
    
    .details-title {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .details-target-date {
        font-style: italic;
        font-size: 16px;
    }
    
    .details-target-goal {
        font-size: 16px;
        font-weight: 600;
    }
    
    .progress-bar-container {
        height: 15px;
        background-color: rgb(177,2,1);
        border-radius: 10px;
    }
    
    .current-progress {
        height: 100%;
        border-radius: 10px;
        background-color: white;
    }
    
    .add-edit-donor-btn-container {
        display: block;
    }
    
    .add-edit-donor-btn-container, 
    .edit-donate-share-btn-container {
        margin-top: 10px;
    }
    
    .add-edit-donor-btn-container .editDonorBtn,
    .add-edit-donor-btn-container .addDonorBtn,
    .edit-donate-share-btn-container .editBtn,
    .edit-donate-share-btn-container .donateBtn,
    .edit-donate-share-btn-container .shareBtn {
        padding: 8px;
        margin-right: 10px;
        background-color: #b10201;
        cursor: pointer;
        float: left;
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 15px;
    }
    
    // .add-edit-donor-btn-container .editDonorBtn:hover,
    // .add-edit-donor-btn-container .addDonorBtn:hover,
    // .edit-donate-share-btn-container .editBtn:hover,
    // .edit-donate-share-btn-container .donateBtn:hover,
    // .edit-donate-share-btn-container .shareBtn:hover {
    //     background-color: #941104;
    // }
    
    
    .bottom-details {
        text-align: left;
        color: white;
    }
    
    .bottom-details .left {
        width: 70%;
        float: left;
        padding: 10px;
    }
    
    .bottom-details .right{
        width: 30%;
        float: left;
        background-color: white;
        padding: 10px;
        height: 100%;
        min-height: 400px;
    }   
    
    .details-header {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .bottom-details .left .details-header {
        color: white;
    }
    
    .bottom-details .right .details-header {
        color : #b10201;
    }   
    
    .donors-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .donors {
        list-style: none;
        padding: 0;
    }
    
    .item {
        text-align: left;
        padding: 10px;
        color: black;
    }
        
    .item .image-container {
        height: 50px;
        width: 50px;
        float: left;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .item .image-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .item .info-container {
        width: calc(100% - 50px);
        float: left;
        padding: 5px;
        min-height: 50px;
        overflow-y: hidden;
        padding-left: 15px;
    }
    .item .info-container .name {
        font-size: 15px;
        font-weight: 900;
        text-transform: uppercase;
        display: block;
        color: #b10201;
    }
    
    .item .info-container .other-info {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) { 
    page-donation-drive-list,
    page-donation-drive-detail,
    page-donation-drive { 
    ion-content { 
        background-position: center;
        background-size: cover;
    }

    ion-content::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .4; 
    }

    ion-card.header {
        width: 100%;
        margin-top: 130px;
        padding: 5px;
        border-radius: 0px;
        overflow: hidden;
    }

    ion-card.header {
        h1 {
            margin-top: 10px;
            text-transform: uppercase;
            color: rgb(164, 14, 0);
            font-weight: bold;
            font-size: 20px;
        }
        
        p {
            font-size: 15px;
            font-weight: 400;
            color: black;
        }
    }

    ion-card.search  {
        background-color: rgba(238, 238, 238, 0.92);
        border-radius: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        overflow: hidden;
    }

    ion-card.search  {
        img {
            height: auto;
            max-width: 120px;
            display: inline-block;
        }

        .search-label {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            padding: 10px;
            color: #a40e00;
            text-align: center;
        }

        .search-input-container {
            background-color: rgb(164, 14, 0);
            padding: 5px 7px;
        }

        .search-input-contents {
            height: 30px;
            width: calc(100% - 50px);
            display: inline-block;
        }

        .search-input-container input {
            font-size: 20px;
            height: 100%;
            float: left;
            width: 100%;
            margin-top: 2px;
        }

        .search-input-container input::placeholder,
        .search-input-container input:focus,
        .search-input-container input {
            background-color: white;
            border: none;
            outline: none;
        }
        
        .search-input-container .search-btn-container {
            color: white;
            width: 50px;
            float: right;
            cursor: pointer;
        }
        
        .search-input-container span {
            font-size: 25px;
        }
    }

    .wrapper {
        width: 95%;
        margin: 0 auto;
        padding-top: 0px;    
    }

    .video {
        height: 250px;
        width: 100%;
    }

    .grid-links-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        padding: 0px;
        text-align: center;
    }
    
    .grid-links {
        width: 50%;
        float: left;
        position: relative;
        cursor: pointer;
    }
    
    .grid-links .title-container  {
        height: 35px;
        width: 100%;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 600;
    }

    .sr-card-info-container .read-more-btn {
        color: #a40e00;
        font-size: 15px;
        cursor: pointer;
    }
    
    .search-results-card {
        width: 100%;
        max-width: 500px;
        background-color: white;
        padding: 5px;
        display: table;
    }
    
    .search-results-card .sr-card-image-container{
        width: 130px;
        height: 130px;
        display: table-cell;
        vertical-align: middle;
    }
    
    .search-results-card .sr-card-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .search-results-card .sr-card-info-container {
        width: calc(100% - 130px);
         display: table-cell;
        color: black;
        padding-left: 20px;
        line-height: 20px;
    }
    
    .search-results-card .sr-card-info-container span.sr-card-info-title{
        font-size: 15px;
        text-transform: uppercase;
    }
    
    .search-results-card .sr-card-info-container span.sr-card-info-val{
        display: block;
        font-size: 15px;
        font-weight: 400;
        overflow-y: hidden;
        height: 65px;
    }
    
    .search-results-card .sr-card-info-container a {
        text-decoration: underline;
    }

    .search-results-card .sr-card-info-container strong{
        font-weight: 600; 
    }

    .search-results-container {
        padding: 20px;
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        max-width: 1400px;
        display: inline-block;
    }
    
    .search-results-header {
        color: white;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        text-transform: capitalize;
    }
    
    .search-results {
        color: white;
        font-size: 22px;
        text-align: left;
        font-weight: 600;
        list-style: none;
        padding: 0;
    }
    
    .search-results li {
        margin-top: 15px;
    }
    
    .search-results-loading-spinner {
        color: white;
        font-size: 22px;
    }
    
    .search-results-loading-spinner i{
        font-size: 20px;
    }

    .add-edit-del-btn-container {
        width: 100%;
        max-width: 500px;
        font-size: 13px;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .add-edit-del-btn-container .addBtn{
        background-color: #a40e00;
        color: white;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        margin: 5px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 20px;
    }
    
    .edit-modal-container,
    .add-modal-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.73);
        padding: 10px;
        overflow-y: scroll;
    }
    
    .edit-modal,
    .add-modal {
        height: auto;
        width: 100%;
        max-width: 600px;
        background-color: white;
        margin: 0 auto;
        padding: 15px;
        position: relative;
    }
    
    .edit-modal table,
    .add-modal table {
        width: 100%;
    }
    
    .add-modal table select,
    .edit-modal table select {
        height: 36px;
        font-size: 18px;
        width: 100%;
    }

    .edit-modal table input,
    .add-modal table input{
        width: 100%;
        font-size: 20px;
    }
    
    .edit-modal table textarea,
    .add-modal table textarea{
        box-sizing: border-box;
        width: 100%;
    }  
      
    .edit-modal-container .modal-title,
    .add-modal-container .modal-title{
        text-transform: capitalize;
        text-transform: uppercase;
        color: rgb(164, 14, 0);
        margin-bottom: 10px;
    }
    
    .modal-close {
        display: inline-block;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.4);
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer;
    }
    
    .submit-btn-container {
        margin-top: 10px;
    }
    
    .errorsContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    
    .successContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    
    .loadingContainer {
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    
    .loadingContainer i {
        font-size: 25px;
    }
    
    .details-wrapper {
        padding: 15px;
        // margin-top: 50px;
    }
    
    .top-details {
        text-align: left;
    }
    
    .top-details .left {
        width: 30%;
        float: left;
        padding-top: 15px;
    }
    
    .top-details .left img{
        width: 100%;
        height: 100%;
        object-fit: auto;
    }
    
    .top-details .right {
        width: 70%;
        float: left;
        color: white;
        padding: 15px;
    }
    
    .details-info {
        display: block;
        font-size: 15px;
    }
    
    .details-title {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .details-target-date {
        font-style: italic;
        font-size: 16px;
    }
    
    .details-target-goal {
        font-size: 16px;
        font-weight: 600;
    }
    
    .progress-bar-container {
        height: 15px;
        background-color: rgb(177,2,1);
        border-radius: 10px;
    }
    
    .current-progress {
        height: 100%;
        border-radius: 10px;
        background-color: white;
    }
    
    .add-edit-donor-btn-container {
        display: block;
    }
    
    .add-edit-donor-btn-container, 
    .edit-donate-share-btn-container {
        margin-top: 10px;
    }
    
    .add-edit-donor-btn-container .editDonorBtn,
    .add-edit-donor-btn-container .addDonorBtn,
    .edit-donate-share-btn-container .editBtn,
    .edit-donate-share-btn-container .donateBtn,
    .edit-donate-share-btn-container .shareBtn {
        padding: 8px;
        margin-right: 10px;
        background-color: #b10201;
        cursor: pointer;
        float: left;
        margin-top: 10px;
        color: white;
        border: none;
        font-size: 15px;
    }
    
    // .add-edit-donor-btn-container .editDonorBtn:hover,
    // .add-edit-donor-btn-container .addDonorBtn:hover,
    // .edit-donate-share-btn-container .editBtn:hover,
    // .edit-donate-share-btn-container .donateBtn:hover,
    // .edit-donate-share-btn-container .shareBtn:hover {
    //     background-color: #941104;
    // }
    
    
    .bottom-details {
        text-align: left;
        color: white;
    }
    
    .bottom-details .left {
        width: 70%;
        float: left;
        padding: 10px;
    }
    
    .bottom-details .right{
        width: 30%;
        float: left;
        background-color: white;
        padding: 10px;
        height: 100%;
        min-height: 400px;
    }   
    
    .details-header {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .bottom-details .left .details-header {
        color: white;
    }
    
    .bottom-details .right .details-header {
        color : #b10201;
    }   
    
    .donors-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .donors {
        list-style: none;
        padding: 0;
    }
    
    .item {
        text-align: left;
        padding: 10px;
        color: black;
    }
        
    .item .image-container {
        height: 50px;
        width: 50px;
        float: left;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .item .image-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .item .info-container {
        width: calc(100% - 50px);
        float: left;
        padding: 5px;
        min-height: 50px;
        overflow-y: hidden;
        padding-left: 15px;
    }
    .item .info-container .name {
        font-size: 15px;
        font-weight: 900;
        text-transform: uppercase;
        display: block;
        color: #b10201;
    }
    
    .item .info-container .other-info {
        font-size: 15px;
    }
}
}