<h1>Catholic Doctrines</h1>
    <div class="select-topic-container">
        <select id="doctrines-select" (change)="UpdateSelect()" required>
            <option value="" disabled selected hidden>Select a topic...</option>
            <option value="0">Faith</option>
            <option value="1">God the Father Almighty</option>
            <option value="2">The Holy Trinity</option>
            <option value="3">Creation</option>
            <option value="4">Man and Angels</option>
            <option value="5">Jesus Christ Our Lord</option>
            <option value="6">The Blessed Virgin Mary</option>
            <option value="7">The Holy Spirit</option>
            <option value="8">The Church</option>
            <option value="9">Communion of Saints</option>
            <option value="10">I Believe in Life Everlasting</option>
        </select>
    </div>
    <div *ngIf="selectElementVal === '0'" class="section-content faith">
        <h2>Faith</h2>         
        <p>“Faith is a personal adherence of the whole man to God who reveals himself. 
            It involves an assent of the intellect and will to the self-revelation God has made through his deeds and words.” 
            (Catechism of the Catholic Church 176)
        </p>
    </div>
    <div  *ngIf="selectElementVal === '1'" class="section-content god-the-father-almighty">
       <div align="center" class="img"><!--img src="/assets/imgs/teachings/god-the-father.jpg"/--></div>
        <h2>God the Father Almighty</h2>
        <h3>What does it mean to say that God is almighty?</h3>
        <p>God reveals himself as <i>“the strong One, the mighty One” (Psalm 24:8)</i>, 
            as the One “to whom nothing is impossible” <i>(Luke 1:37)</i>. His omnipotence is universal, 
            mysterious and shows itself in the creation of the world out of nothing and humanity out of love; but above all it shows 
            itself in the Incarnation and the Resurrection of his Son, in the gift of filial adoption and in the forgiveness of sins. 
            For this reason, the Church directs her prayers to the “almighty and eternal God” <i>(“Omnipotens sempiterne Deus...”)</i>.
        </p>
        
        <b class="source">(Source: Compendium of the Catechism of the Catholic Church)</b>
    </div>
    <div  *ngIf="selectElementVal === '2'"  class="section-content the-holy-trinity">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/the-holy-trinity.jpg"/--></div>
        <h2>The Holy Trinity</h2>
        <p>The Holy Trinity is the central mystery of our Christian Faith, 
            we believe that there is only One God, but this one God is in three Divine Persons: 
            The Father, the Son and the Holy Spirit.
        </p>
        <h3>How does the Church express her trinitarian faith?</h3>
        <p>The Church expresses her trinitarian faith by professing a belief in the oneness of God in whom there are three Persons: 
            Father, Son, and Holy Spirit. The three divine Persons are only one God because each of them equally possesses 
            the fullness of the one and indivisible divine nature. They are really distinct from each other by reason of the relations 
            which place them in correspondence to each other. The Father generates the Son; the Son is generated by the Father; 
            the Holy Spirit proceeds from the Father and the Son.
        </p>
        <h3>How do the three divine Persons work?</h3>
        <p>Inseparable in their one substance, the three divine Persons are also inseparable in their activity. 
            The Trinity has one operation, sole and the same. In this one divine action, however, 
            each Person is present according to the mode which is proper to him in the Trinity.
        </p>
        <p>
            <i>“O my God, Trinity whom I adore...grant my soul peace; make it your heaven, your beloved dwelling, and the place of your rest. 
                May I never abandon you there, but may I be there, whole and entire, completely vigilant in my faith, entirely adoring, 
                and wholly given over to your creative action.” (Blessed Elizabeth of the Trinity)
            </i>
        </p>
        
        <b class="source">(Source: Compendium of the Catechism of the Catholic Church)</b>
    </div>
    <div   *ngIf="selectElementVal === '3'" class="section-content creation">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/creation.jpg"/--></div>
        <h2>Creation</h2>
        <p>Sacred Scripture says, “In the beginning, God created the heavens and the earth” (Genesis 1:1). 
            The Church in her profession of faith proclaims that God is the Creator of everything, visible and invisible, 
            of all spiritual and corporeal beings, that is, of angels and of the visible world and, in a special way, of man
        </p>
        
        <b class="source">(Source: Compendium of the Catechism of the Catholic Church)</b>
        <br>
        <h3>Who are the angels?</h3>
        <p>The angels are purely spiritual creatures, incorporeal, invisible, immortal, and personal beings endowed with intelligence and will. 
            They ceaselessly contemplate God face-to-face and they glorify him. They serve him and are his messengers in the accomplishment of 
            his saving mission to all.
        </p>
    </div>
    <div   *ngIf="selectElementVal === '4'" class="section-content man-and-angels">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/man-and-angels.jpg"/--></div>
        <h2>Man and Angels</h2>
        <h3>Man</h3>
        <p>Man is the summit of creation, because God created him in His image (Gen 1:27). [343-344,353]</p>
        <p>The creation of man is clearly distinguished from the creation of other living things. Man is a person, which means that through his understanding and will he can decide for or against love.</p>
        <h3>Angels</h3>
        <p>Angels are pure spiritual creatures of God who have understanding and will. They have no bodies, cannot die and are usually not visible. They live constantly in God’s presence and convey God’s will and God’s protection to men. </p>
        <b class="source">(Source: Youth Catechism Nos. 54, 56)</b>
    </div>
    <div   *ngIf="selectElementVal === '5'" class="section-content jesus-christ-our-lord">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/jesus.jpg"/--></div>
        <h2>Jesus Christ Our Lord</h2>
        <p>Jesus Christ is the second Person of the Holy Trinity. He is true God and true Man, 
            since in him there are two Natures (Divine and Human), but only one Divine Person. 
            His Divine Nature is eternal and was never created; his Human Nature is mortal and was conceived in 
            the womb of the Virgin Mary by the power of the Holy Spirit. As St. John declared: 
            <i>“The Word became flesh and made his dwelling among us” (John 1:14)</i></p>
        <b class="source">(Source: My First Catechism)</b>
        <h3>What does the name “Jesus” mean?</h3>
        <p>Jesus means in Hebrew “God saves.” [430-435,452[In the Acts of the Apostles, Peter says, 
            “There is no other name under heaven given among men by which we must be saved” (Acts 4:12). 
            This is essentially the message that all missionaries brought to people
        </p>
        <b class="source">(Source: Youth Catechism No. 72)</b>
        <br>
        <b>Bibliography:</b>
        <p>Pirlo, Paolo O., My First Catechism. Paranaque City: Sons of Holy Mary Immaculate Quality Catholic Publicationsm 1994. </p>
    </div>

    <div   *ngIf="selectElementVal === '6'" class="section-content the-blessed-virgin-mary">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/blessed-virgin-mary.jpg"/--></div>
        <h2>The Blessed Virgin Mary</h2>
        <p>The Blessed Virgin Mary is the Mother of our Lord Jesus Christ; Christ as God was never created, but as Human, he was conceived in the womb of the Blessed Virgin Mary.</p>
        <h3>There are four Marian Dogmas, namely:</h3>
        <ol>
            <li>Mary, the Mother of God: We believe that Mary is the mother of Jesus, who is God; therefore, she can be called Mother of God.</li>
            <li>The Perfect Virginity: We believe that Mary remained virgin – before, during and after the birth of Jesus – because she conceived by the power of the Holy Spirit, and becaue she was totally consecrated to God.</li>
            <li>The Immaculate Conception: We believe that Mary was conceived in the womb of St. Anne without the stain of the Original Sin; this privilege was granted in view of her divine motherhood.</li>
            <li>The Glorious Assumption: We believe that at the end of her life, Mary was assumed body and soul to the glory of Paradise”</li>
        </ol>
        <b class="source">(Source: My First Catechism, p.23)</b>
        <br>
        <b>Bibliography:</b>
        <p>Pirlo, Paolo O., My First Catechism. Paranaque City: Sons of Holy Mary Immaculate Quality Catholic Publicationsm 1994. </p>
    </div>
    <div   *ngIf="selectElementVal === '7'" class="section-content the-holy-spirit">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/holy-spirit.jpg"/--></div>
        <h2>The Holy Spirit</h2>
        <p>The Holy Spirit is the third Person of the Holy Trinity. He is God, co-equal with the Father and the Son. “He is the Lord, the Giver of Life, who proceeds from the Father and the Son, who with the Father and the Son is worshipped and glorified, He has spoken through the prophets” (Nicene Creed)</p>
        <h3>The 7 gifts of the Holy Spirit</h3>
        <ul>
            <li>Understanding</li>
            <li>Counsel</li>
            <li>Wisdom</li>
            <li>Strength</li>
            <li>Knowledge</li>
            <li>Piety</li>
            <li>Fear of the Lord</li>
        </ul>
        <b class="source">(Source: My First Catechism, p.23)</b>
        <br>
        <b>Bibliography:</b>
        <p>Pirlo, Paolo O., My First Catechism. Paranaque City: Sons of Holy Mary Immaculate Quality Catholic Publicationsm 1994. </p>
    </div>
    <div   *ngIf="selectElementVal === '8'" class="section-content the-church">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/the-church.jpg"/--></div>
        <h2>The Church</h2>
        <ul>
            <li> Why can there be only one church?
                <p>
                    Just as there is only one Christ, there can be only one Body of Chrost, only one Bride of Christ, and therefore only one – Church of Jesus Christ. 
                    He is the Head, the Church is the Body. Together they from the “Whole Christ” (St. Augustine). Just as the body has many members yet is one, so too the one Church consists of and is made up of many particular churches (dioceses). [811-816, 866, 870]
                </p>
                <p>
                    Jesus built his Church, which subsists in the Catholic Church, on the foundation of the Apostles. This foundation supports her to this day. 
                    The faith of the apostles was handed down from the generation to generation under the leadership of the Pope, the Petrine ministry, “which presides in charity” (St. Ignatius of Antioch). 
                    The SACRAMENTS, too, which Jesus entrusted to the apostolic college, still work with their original power. 
                </p>
            </li>
            <li> Why is the Church Holy?
                <p>
                    The Church is Holy, not because all her members are supposedly holy but rather because God is Holy and is at work in her. All the members of the Church are sanctified by Baptism. [823-829]
                </p>
                <p>
                    Whenever we allow ourselves to be touched by the Triune God, we grow in love and become holy and whole. 
                    The Saints are lovers-not because they are able to love so well, but because God has touched them. 
                    They pass on the love they have received from God to other people in their own, often original way. Once God takes them home, they also sanctify the church, because they “spend their heaven” 
                    supporting us on our path to HOLINESS. -124
                </p>
            </li>
            <li> Why is the Church called Catholic?
                <p>
                    “Catholic” (Greek kat’halon) means related to the whole. The – CHURCH is Catholic because Christ called her to profess the whole faith, 
                    to preserve all the sacraments, to administer them and proclaim the Good News to all; and he sent her to all nations [830-831, 849-856]
                </p>
            </li>
            <li> Why is the Church called Apostolic?
                <p>
                    The CHURCH is called apostolic because she was founded by the apostles, holds fast to their Tradition, 
                    and is governed by their successors. [857-860,869,877]
                </p>
                <p>
                    Jesus called the APOSTLES to be his closest collaborators. They were his eyewitnesses. After his Resurrection, 
                    he appeared to them repeatedly. He bestowed on them the Holy Spirit and sent them as his authoritative messengers to all the world. 
                    They assured unity in the early Church. They conferred their mission and authority upon their successors, the bishops, through the laying on of the hands. The process is called APOSTOLIC SUCCESSION.
                </p>
                <p>
                    In the Church there are the LAITY and clerics (CLERGY). As children of God, they are of equal dignity. 
                    They have equally important but different tasks. The mission of the Laity is to direct the whole world toward the kingdom of God. 
                    In addition, there are the ordained ministers (clerics), who have the duties who have the duties of ecclesiastical governance, 
                    teaching, and sanctification. In both states of life, there are Christians who place themselves at God’s disposal in a special way 
                    through celibacy poverty and obedience (for example, consecrated religious). [871-876, 934,935]
                </p>
            </li>
        </ul>
        <b class="source">(Source: Youth Catechism)</b>

    </div>
    <div   *ngIf="selectElementVal === '9'" class="section-content communion-of-saints">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/communion-of-saints.jpg"/--></div>
        <h2>Communion of Saints</h2>
        <p>
            “The Communion of Saints is the community of all Christians who are in the grace of God. 
            It includes those on earth, Purgatory, and Paradise. It is the Holy Spirit that creates the communion among the Saints. 
        </p>
        <p>
            The Sains are those who are in the grace of God, both on earth or in heaven. The Canonised Saints are those that the Church has declared surely 
            in Paradise, becoming oour models and intercessors.
        </p>
        <p>
            The most outstanding of all the Saints is the Virgin Mary. She is the Queen of the Angels and of the Saints. 
            We must have a special veneration for the Virgin Mary, because she is the Mother of God.”
        </p>
        <b class="source">(Source: My First Catechism pp. 54-55)</b>
    </div>
    <div   *ngIf="selectElementVal === '10'" class="section-content i-believe-in-life-everlasting">
        <div align="center" class="img"><!--img src="/assets/imgs/teachings/life-everlasting.jpg"/--></div>
        <h2>I Believe in Life Everlasting</h2>
        <p><b>The everlasting life is the perfect and eternal communion of Love with God in paradise.</b> 
            This article deals with the eschatological realities, namely: Death, Judgment, Purgatory, Hell, and Paradise.
        </p>
        <h3>Death</h3>
        <p>
            <b>Death is the separation of the soul from the body.</b> After we die, our body is buried, while our soul goes in front of 
            Jesus Christ to give an account of our life.
        </p>
        <h3>Judgment</h3>
        <p><b>There are two judgments after death: the Particular and the Universal Judgment. 
            The Particular Judgment takes place immediately after death.</b> Then, the souls of just go to Paradise; 
            those who still have some temporal punishment to be expiated go to Purgatory; the souls of the wicked are casts into Hell. 
            As Jesus said in the parable of Lazarus: “The poor man died and was carried away by the Angels to the bosom of Abraham. 
            The rich man also died and was buried, and was tormented in Hell” (Luke 16:22-23). 
        </p>
        <p>
            <b>The Final Judgment will take place at the end of the world</b>, when Jesus will come again to judge the living and the dead. 
            First, there will be the resurrection of the bodies, that will rejoin their respective souls. 
            Then the body and soul will pass through the Final Judgment: The just and those who have been purified in Purgatory will go to Paradise; 
            the evil ones will go back to Hell for all eternity. As Jesus said: “When the Son of Man comes in His glory, escorted by all His Angels, 
            then He will take his seat on His throne of Glory. All the Nations will be assembled before Him and He will separate men from one another 
            as the shepherd separates sheep from goats. The evil ones will go away to eternal punishment, and the virtuous to eternal life” (cf. Matthew 25:31-46)
        </p>
        <h3>Purgatory</h3>
        <p><b>Purgatory is the place where the souls of the just are purified from their temporal punishment before entering Paradise.</b> 
            Purgatory is not eternal like Hell and Paradise, but will end on the Judgment Day. 
            We can help the souls in Purgatory expiate their temporal punishment by offering prayers and the Holy Sacrifice of the Mass. 
            The proof of the existence of Purgatory is in the second book of Maccabees. 
            One Day Judas Maccabaeus noticed that some of his soldiers died while wearing the amulet of the idols. 
            They could not go to Paradise, because they died in sin, neither they could go to Hell because they were fighting a Holy War for Yahweh. 
            Therefore, they went into a place of purification, known as Purgatory. Judas Maccabaeus offered prayers for them at the Temple of Jerusalem, 
            so that their souls could be purified and enter into Paradise. As the Scripture say: “He had his atonement sacrifice offered for the dead, 
            so that they might be released from their sin.” (Maccabees 12:45)
        </p>
        <h3>Hell</h3>
        <p><b>Hell is the state of self-separation from the Communion with God.</b> The pain of Hell, which we call fire of Hell, 
            consists of the eternal separation from God. Hell is eternal , as Jesus said: “Go away from me, with your curse upon you, 
            to the eternal fire prepared for the Devil and His Angels” (Matthew 25:41) 
        </p>
        <h3>Paradise</h3>
        <p><b>Paradise is the state of perfect communion of love with God,</b> in company with the Virgin Mary, the Angels, and all the Saints. </p>
        <p><b>The Saints in Paradise enjoy the “beatific vision,”</b> which is the contemplation of God face to face is his heavenly glory. 
            As St. John said: The throne of God and of the Lamb will be in its place in the city; his servants will worship him, they will see him face to face, 
            and his name will be written on their foreheads. It will never be again and they will not need lamplight or sunlight, because the Lord God will be shining on them. They will reign for ever and ever” (Revelation 22:3-5)
        </p>
        <p><b>After the Final Judgment there will be a new heaven and a new earth.</b> As St. John said: “Then I saw a new heaven and a new earth; 
            the first heaven and the first earth had disappeared now, and there was no longer any sea. I saw the Holy City, 
            the new Jerusalem, coming down from God out of Heaven, as beautiful as a bride dressed for her husband. 
            Then I heard a loud voice call from the throne: You see this city? Here God lives among men. He will make his home among them: 
            they shall be his people, and he will be their God: his name is God-with-them. He will wipe away all tears from their eyes; 
            there will be no more death, and no more mourning and sadness. The world of the past has gone” (Revelation 21:1-4)
        </p>
        <b class="source">(Source: My First Catechism pp.61-64)</b>
        <br>
        <b>Bibliography:</b>
        <p>Pirlo, Paolo O., My First Catechism. Paranaque City: Sons of Holy Mary Immaculate Quality Catholic Publicationsm 1994.</p>
    </div>
